<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zoey Ji">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>

<body onload="addYear()">
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a id="navselected" href="checkout.html">Checkout</a>
        </nav>
    </header>

    <img id="logo" src="../static/MonoMuseLogo.png" alt="MonoMuse Museum Logo"> 
    
    <div class="main">
        <form>
            <label for="name">Name: (required)</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Email: (required)</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="quantity">Ticket Quantity: (required)</label><br>
            <input type="number" id="quantity" name="quantity" min="1" required><br><br>

            <button type="submit">Submit</button>
        </form>
    </div>
        
    <footer>
        <p> &copy;<span id="copyYear"></span>MonoMuse. All rights reserved.</p>
    </footer>
    
</body>
</html>