<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta name="author" content="Zoey Ji">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a id="navselected" href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <img id="logo" src="../static/MonoMuseLogo.png" alt="MonoMuse Museum Logo"> 
    
    <div class="main">
        <img src="https://cdn.britannica.com/51/194651-050-747F0C18/Interior-National-Gallery-of-Art-Washington-DC.jpg" alt="Picture of the MonoMuse museum" style width="30%">
        <h2>Mission Statement</h2>
        <p>MonoMuse is dedicated to exploring the evolving relationships between art, technology, and society. Our mission is to inspire curiousity and creativity by showcasing innovating exhibitions that highlight how digital tools, emrging technologies, and human imagination shape the future of artistic expression.</p>
        
        <h2>Milestones</h2>
        <ul>
            <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
            <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
            <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
        </ul>
    </div>
        
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
    
</body>
</html>