<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zoey Ji">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>    
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear(); init();">
    <div class="container">
        <header class="header"></header>
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="visit.html">Visit</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
            <a href="javascript:void(0)" class="icon" onclick="toggleMenu()">≡</a>
        </nav>
        <main class="main">
            <div class="logoSection">
                <div>
                    <h2 class="title">Ticket Information</h2>
                    <table id="ticketTable">
                        <tr>
                            <th>Ticket Type</th>
                            <th>Description</th>
                            <th>Prices</th>
                        </tr>
                        <tr>
                            <td>Adult</td>
                            <td>General admission for ages 18 and over. Under 18 free of charge.</td>
                            <td>$18</td>
                        </tr>
                        <tr>
                            <td>Student</td>
                            <td>Student ID required</td>
                            <td>$10</td>
                        </tr>
                        <tr>
                            <td>Member</td>
                            <td>Member ID required</td>
                            <td>$15</td>
                        </tr>
                    </table> 
                </div>   
                <img id="logo" src="../static/MonoMuseLogo.png" alt="MonoMuse Museum Logo"> 
            </div> 
            <h2 class="title">Tickets Available for April 2026</h2>
            <div id="calendar">
                <table id="calendarTable">
                    <tr>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                    <tr>
                        <td style="background-color: #fff0f4"> </td>
                        <td style="background-color: #fff0f4"> </td>
                        <td style="background-color: #fff0f4"> </td>
                        <td>
                            <span class="date">1</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">2</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">3</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">4</span> <br> 
                            <span>CLOSED</span> <br> <br> <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="date">5</span> <br> 
                            <span>CLOSED</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">6</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">7</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">8</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">9</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">10</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">11</span> <br> 
                            <span>CLOSED</span> <br> <br> <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="date">12</span> <br> 
                            <span>CLOSED</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">13</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">14</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">15</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">16</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">17</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">18</span> <br> 
                            <span>CLOSED</span> <br> <br> <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="date">19</span> <br> 
                            <span>CLOSED</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">20</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">21</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">22</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">23</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">24</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">25</span> <br> 
                            <span>CLOSED</span> <br> <br> <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="date">26</span> <br> 
                            <span>CLOSED</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">27</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">28</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td>
                            <span class="date">29</span> <br> 
                            <span>Available</span> <br>
                            <button type="button" class="buyNow">Buy Now</button>
                        </td>
                        <td>
                            <span class="date">30</span> <br> 
                            <span>Out of Stock</span> <br> <br> <br>
                        </td>
                        <td style="background-color: #fff0f4"> </td>
                        <td style="background-color: #fff0f4"> </td>
                    </tr>
                </table>

                <form id="checkoutForm" action="confirmation.html">
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" required><br><br>

                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br><br>

                    <label for="date">Select Date:</label>
                    <input type="date" id="date" name="date-selection" value="2026-04-06" required><br><br>

                    <label for="mailing">Join Mailing List</label>
                    <input type="checkbox" id="mailing" name="mailing" value="mailing"><br><br>
                    
                    <label for="options">Ticket Type:</label>
                    <select id="options" name="options" required>
                        <option value="" disabled selected>Select an option...</option>
                        <option value="general">General</option>
                        <option value="student">Student</option>
                        <option value="member">Member</option>
                    </select><br><br>

                    <div id="price-container">
                        <div>
                            <label for="quantity">Quantity:</label><br>
                            <input type="number" id="quantity" name="quantity" min="1" max="10" required><br><br>
                        </div>
                        <div>
                            <p id="price"></p>
                        </div>
                    </div>

                    <button type="submit" id="submitButton">Place Order</button>
                    <p id="submitMessage">Redirecting to payment system.</p>
                    
                </form>
            </div>
        </main>
        <figure class="main_figure"></figure>
        <footer class="footer">
            <p> &copy;<span id="copyYear"></span>MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>