<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta name="author" content="Zoey Ji">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>Checkout</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    
    <div class="main">
        <form>
            <label for="name">Name: (required)</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Email: (required)</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="quantity">Ticket Quantity: (required)</label><br>
            <input type="number" id="quantity" name="quantity" min="1" required><br><br>

            <button type="submit">Submit</button>
        </form>
    </div>
        
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
    
</body>
</html>