<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zoey Ji">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>    
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear(); confirmation()">
    <div class="container">
        <header class="header"></header>
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="visit.html">Visit</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
            <a href="javascript:void(0)" class="icon" onclick="toggleMenu()">≡</a>
        </nav>      
        <main class="main">
            <div class="confirmLogoSection">
                <div id="confirmText">
                    <h1 class="title">Order Confirmation</h1>  
                    <h1 class="text">Thank you for your order!</h1>  
                    <h1 class="text" id="confirmationMessage">hi</h1>
                </div>
                <img id="logo" src="../static/MonoMuseLogo.png" alt="MonoMuse Museum Logo">
            </div>
        </main>
        <figure class="main_figure"></figure>
        <footer class="footer">
            <p> &copy;<span id="copyYear"></span>MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>