<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zoey Ji">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>    
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <div class="container">
        <header class="header"></header>
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
            <a href="javascript:void(0)" class="icon" onclick="toggleMenu()">≡</a>
        </nav>
        <img id="logo" src="../static/MonoMuseLogo.png" alt="MonoMuse Museum Logo">  
        
        <main class="main">
            <h3>Exhibition 1: Digital Dreams</h3>
            <p>This exhibition explores how artists are using algorithms, artificial intelligence, and generative tools to create new forms of digital expression. Through interactive displays and dynamic visuals, visitors can see how machines and human creativity work together to produce art that evolves in real time.</p>
                        
            <h3>Exhibition 2: Code and Canvas</h3>
            <p>Code and Canvas highlights the ways programming has become a medium for artistic creation. Featuring works by digital artists and designers, the exhibition showcases installations, projections, and interactive pieces that reveal how lines of code can transform into immersive visual experiences.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ndwOgL3ZgCQ?si=MuoEvAFQL88GtydG" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
        </main>
        <figure class="main_figure"></figure>
        <footer class="footer">
            <p> &copy;<span id="copyYear"></span>MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>